.popup {
    border-radius: 24px;
    padding: 90px;

    @media screen and (max-width: 768px) {
        padding: 75px 24px;
    }
}

#popupTnc {
    .fancybox-button {
        display: none;
    }
}

#success-popup {
    border-radius: 24px;
}